<!DOCTYPE html>
<!--
@File   : baixa_pdf.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-10-25 16:39:57
-->


{% extends 'estatistica/menu_estatistica.html' %} {% block corpo %}

<div class="user bg-default bg-light-rtl">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6">
            <div class="block  ">
                <div class="header">
                    <p></p>
                    <h4><b><span class="icon-file-text"></span>   Criar listagem de baixa</b> </h4>
                </div>

                <div class="content controls container">
                    {% if messages %}
                    <p>
                        <div class="block">
                            <div class="alert alert-danger">
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="danger {{ message.tags }}" {% endif %}>{{ message }}</li>
                                        {% endfor %}
                                </ul>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </div>
                    </p>
                    {% endif %}
                    <form class="" action="{% url 'estatistica:baixa' %}" method="POST" target="_blank">
                        {% csrf_token %} {% autoescape on %}
                        <div class="form-row">
                            <div class="col-md-6">
                                <b>Titulo da Lista:</b> {{ baixa.titulo }} {{ baixa.titulo.errors }}
                            </div>
                            <div class="col-md-6"><b>Motivo:</b> {{ baixa.motivo }} {{ baixa.motivo.errors }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="header">
                                <h2 class="">DATAS </h2>
                            </div>

                            <div class="col-md-6"><b>Data Inicial:</b> {{ baixa.data }} {{ baixa.data.errors }}
                            </div>
                            <div class="col-md-6"><b>Data Final:</b> {{ baixa.data_final }} {{ baixa.data_final.errors }}
                            </div>

                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <b>Descrição:</b> {{ baixa.descricao }} {{ baixa.descricao.errors }}
                            </div>
                        </div>


                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-primary " type="submit">Criar</button>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>

                        </div>

                        {% endautoescape %}
                    </form>
                </div>
            </div>

            <div class="col-md-3">

            </div>
        </div>
    </div>
    {% endblock %}