 {% extends 'estatistica/menu_estatistica.html' %} {% block corpo %}


<div class="row">

    <div class=" col-md-2">

        <div id="probido_ver" style="display:none">
            <p id="total_transfe_masculino"> {{ masculino }}</p>
            <p id="total_transfe_femenino"> {{ femenino }}</p>
            <p id="total_transferencia"> 0</p>
        </div>

    </div>
    <div class=" col-md-8">
        <div class="head bg-dot30">
            <h2> </h2>

            <div class="head-panel nm">
                <div id="trans_container" width="400" height="280"></<div>
                </div>
            </div>
        </div>
    </div>

    <div class=" col-md-2">

    </div>
</div>



{% endblock %}