<!DOCTYPE html>
<!--
@File   : formacao_pdf.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-10-25 16:56:33
-->


{% extends 'estatistica/menu_estatistica.html' %} {% block corpo %}

<div class="user bg-default bg-light-rtl">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6">
            <div class="block block-fill ">
                <div class="header">
                    <p></p>
                    <h4><b><span class="icon-file-text"></span>   Criar listagem de formação</b> </h4>
                </div>

                <div class="content controls container">
                    {% if messages %}
                    <p>
                        <div class="block">
                            <div class="alert alert-danger">
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="danger {{ message.tags }}" {% endif %}>{{ message }}</li>
                                        {% endfor %}
                                </ul>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </div>
                    </p>
                    {% endif %}
                    <form class="" action="{% url 'estatistica:formacao' %}" method="POST" target="_blank">
                        {% csrf_token %} {% autoescape on %}
                        <div class="form-row">
                            <div class="col-md-12">
                                <b>Titulo da Lista:</b> {{ formacao.titulo }} {{ formacao.titulo.errors }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6"><b>Situação</b> {{ formacao.tipo }} {{ formacao.tipo.errors }}
                            </div>
                            <div class="col-md-6"><b>Data:</b> {{ formacao.data }} {{ formacao.data.errors }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <b>Descrição:</b> {{ formacao.descricao }} {{ formacao.descricao.errors }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-primary " type="submit">Criar</button>
                                </div>
                                <div class="col-md-2">
                                </div>
                            </div>

                        </div>

                        {% endautoescape %}
                    </form>
                </div>
            </div>


        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}