asn1crypto==0.24.0
astroid==1.6.1
certifi==2017.11.5
cffi==1.11.2
chardet==3.0.4
Click==7.0
cryptography==3.2
decorator==4.1.2
Django==2.2.1
django-chartjs==1.3
django-jchart==0.4.2
django-json-tag==0.0.1
django-master-password==1.1.1
django-secure==1.0.1
django-sslserver==0.20
gunicorn==19.9.0
h11==0.8.1
html5lib==1.0b10
httplib2==0.10.3
httptools==0.0.13
idna==2.6
ipython==6.2.1
ipython-genutils==0.2.0
isort==4.3.4
jedi==0.11.1
lazy-object-proxy==1.3.1
mccabe==0.6.1
mysqlclient==1.3.13
numpy==1.15.4
opencv-python==3.4.3.18
parso==0.1.1
passlib==1.7.1
pbkdf2==1.3
pexpect==4.3.1
pickleshare==0.7.4
Pillow==5.0.0
pip-module-scanner==0.6
pkg-resources==0.0.0
prompt-toolkit==1.0.15
ptyprocess==0.5.2
pycodestyle==2.3.1
pycparser==2.18
pydocstyle==2.1.1
pyflakes==1.6.0
Pygments==2.2.0
pylama==7.4.3
pylama-pylint==3.0.1
pylint==1.8.2
PyPDF2==1.26.0
python-magic==0.4.15
pytz==2019.1
reportlab==3.4.0
requests==2.18.4
simplegeneric==0.8.1
six==1.11.0
snowballstemmer==1.2.1
sqlparse==0.3.0
starlette==0.11.4
sweetify==1.0.3
tabulate==0.8.2
traitlets==4.3.2
urllib3==1.22
uvicorn==0.6.1
uvloop==0.12.2
uWSGI==2.0.17.1
validators==0.12.1
wcwidth==0.1.7
webencodings==0.5.1
websockets==7.0
wrapt==1.10.11
