<!--
@File   : listar_nomiados.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-8-29 19:28:26
-->
{% extends 'pessoal_quadro/menu_pessoal.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block ">
            <div class="header">
                <!--block-fill-white-->
                <h2><b> Contas de Utilizadores</b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>

                            <th>Foto</th>
                            <th>Nome</th>
                            <th>username</th>
                            <th>Categoria</th>
                            <th>Estado da conta</th>
                            <th>Patente</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for list in lista %} {% for key, agen in agente.items %} {% if key == list.first_name %}
                        <tr>
                            {% autoescape on %}
                            <td>
                                <a><img src="/media/{{ agen.foto_fardado }}" width=38px class="img-circle ">

                                </a>
                            </td>
                            <td>{{ agen.pessoa.nome|capfirst|safe }}</td>
                            <td>{{ list.username }}</td>
                            <td>{{ list.email }}</td>
                            {% if list.is_active == 1 %}
                            <td> <span class="label-success">Ativado</span> </td>
                            {% else %}
                            <td> <span class=" label-danger">Desativada</span> </td>
                            {% endif %}

                            <td>{{ agen.patente }}</td>
                            {% endautoescape %}
                            <td>
                                <a href="{% url 'utilizador:redifinir-senha' list %} " class="btn btn-primary tip" title="Redifinir a senha">
                                    <span class="icon-key"></span>
                                </a>
                                <a href="{% url 'utilizador:desativar' list %} " class="btn btn-warning tip" title="Desativar a conta">
                                    <span class="icon-unlock-alt"></span> </a>

                                <a href="{% url 'utilizador:ativar' list %} " class="btn btn-success tip" title="Ativar a conta">
                                    <span class="icon-unlock"></span> </a>


                                <a href="{% url 'utilizador:eliminar' list %} " class="btn btn-danger tip" title="Remover da lista">
                                    <i class="icon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endif %} {% endfor %} {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}