<!--
@File   : listar_nomiados.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-8-29 19:28:26
-->
{% extends 'pessoal_quadro/menu_pessoal.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block ">
            <div class="header">
                <!--block-fill-white-->
                <h2><b> Contas de Utilizadores</b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>

                            <th>#</th>
                            <th>Nome</th>
                            <th>username</th>
                            <th>Categoria</th>
                            <th>Estado da conta</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for k in lista %}



                        <tr>
                            {% autoescape on %}
                            <td>
                                <!--<a><img src="/media/{{ agen.foto_fardado }}" width=38px class="img-circle ">

                                </a>-->
                            </td>
                            <td>{{ ag.pessoa.nome }}</td>
                            <td>{{ k.username }}</td>
                            <td>{{ k.email }}</td>
                            {% if k.is_active == 1 %}
                            <td> <span class="label-success">Ativado</span> </td>
                            {% else %}
                            <td> <span class=" label-danger">Desativada</span> </td>
                            {% endif %} {% endautoescape %}
                            <td>
                                <a href="{% url 'utilizador:redifinir-senha' k.id %} " class="btn btn-primary tip" title="Redifinir a senha">
                                    <span class="icon-key"></span>
                                </a>
                                {% if k.is_active == 1 %}
                                <a href="{% url 'utilizador:desativar' k.id %} " class="btn btn-warning tip" title="Desativar a conta">
                                    <span class="icon-unlock-alt"></span> </a>
                                {% else %}
                                <a href="{% url 'utilizador:ativar' k.id %} " class="btn btn-success tip" title="Ativar a conta">
                                    <span class="icon-unlock"></span> </a>
                                {% endif %}


                                <a href="{% url 'utilizador:eliminar' k.id %} " class="btn btn-danger tip" title="Remover da lista">
                                    <i class="icon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>

                <p>
                </p>
            </div>
        </div>

    </div>
</div>
{% endblock %}