<!DOCTYPE html>
<!--
@File   : sucesso_conta.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-10-29 18:17:24
-->
{% extends 'salakiaku.html' %} {% block corpo %} {% load static %}

<div class="row">
    <p>
        &nbsp;
    </p>
</div>
<div class=" col-lg-4">
    &nbsp;
</div>


<div class=" col-lg-4">
    <div class="block block-drop-shadow">
        <div class="user bg-default bg-light-rtl">
            <div class="">

                <img src="{% static '/asset/img/user.jpg' %}" width="90px" class="img-circle img-thumbnail" />
            </div>
        </div>
        <div class="content list-group">
            <a href="#" class="list-group-item">NOME DE UTILIZADOR: {{ nome }}</a>
            <a href="#" class="list-group-item">NUMERO DE AGENTE: {{ agente.numero_agente }}</a>
            <a href="#" class="list-group-item">SENHA PADRÃO: {{ senha }}</a>
        </div>
    </div>
</div>



<div class=" col-lg-4">

</div>
{% endblock %}