{% extends 'base.html' %} {% load static %} {% block titulo %}
<title>SALAKIAKU</title>
{% endblock %} {% block corpo %}


<body class="">

    <div class="container">

        <div class="login-block">
            <div class="block block-transparent">
                <div class="head">
                    <span> <b>Altera a senha padrão da sua conta no sistema</b></span>
                    <div class="user">
                        <div class="info">
                            <img src="{% static '/assets/images/poli5.png' %}" width="180px" class="img-circle img-thumbnail" />
                            <div class="user-change-button">
                                <span class="icon-off"></span>
                            </div>
                        </div>
                    </div>
                </div>
                {% if messages %}
                <div class="block container">
                    <div class="alert alert-danger">
                        <ul class="messages">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                                {% endfor %}
                        </ul>
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                    </div>
                </div>
                {% endif %}
                <div class="content controls npt">
                    <form action="{% url 'utilizador:alterar-senha-padrao' id %}" method="post">
                        {% csrf_token %} {% autoescape on %}
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="icon-key"></span>
                                    </div>
                                    {{ form.senhaPadrao }} {{ form.senhaPadrao.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="icon-key"></span>
                                    </div>
                                    {{ form.senhaNova }} {{ form.senhaNova.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <span class="icon-key"></span>
                                    </div>
                                    {{ form.confirmaSenha }} {{ form.confirmaSenha.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                        </div>


                        <div class="form-row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-info btn-block"><span class="icon"></span> &nbsp; Enviar</button>

                            </div>
                        </div>
                        {% endautoescape %}
                    </form>
                </div>
            </div>
        </div>

    </div>

</body>


{% endblock %}