<!DOCTYPE html>
<!--
@File   : sucesso_conta.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-10-29 18:17:24
-->
{% extends 'utilizador/menu_perfil.html' %} {% block corpo %} {% load static %} {% load helpUtilizador %}


<div class=" col-md-3">
    <div class="block block">

        <div class="user bg-default info">
            <img src="/media/{{ fotos.foto_fardado }}" width="90px" class="img-circle img-thumbnail" />
            <img src="{% static '/asset/img/user.jpg' %}" width="90px" class="img-circle img-thumbnail" />
        </div>
        <div class="content list-group">
            <!-- <a href="#" class="list-group-item">Atualizar Morada</a>
            <a href="#" class="list-group-item">Atualizar Telefone</a>
            <a href="#" class="list-group-item">Atualizar E-mail</a>
            <a href="#" class="list-group-item">Atualizar Senha</a>-->
        </div>
    </div>
</div>



<div class="col-md-9">
    <div class="user bg-default info">
        <div class="block ">
            <div class="header">
                <!--block-fill-white-->
                <h2><b> Dados de Utilizador</b></h2>
            </div>
            <div class="content">
                <table class="table table-bordered table-striped  ">
                    <thead>
                        <tr>
                            <th>Utilizador</th>
                            <th>Area de Trabalho</th>
                            <th>Data criada</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{% retornaCategoria user.email %}</td>
                            <td>{{ user.date_joined|truncatechars:13 }}</td>
                            <td>
                                <a href="{% url 'utilizador:alterar-senha-utilizador' user.id %} " class="btn btn-primary tip" title="Editar a Senha">
                                    <span class="icon-key"></span>
                                </a>
                                <a href="{% url 'utilizador:desativar' user.id %}" class="btn btn-warning tip" title="Cancelar a Conta">
                                    <span class="icon-remove-circle"></span> </a>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}