 {% include "pessoal_quadro/sigrh_pessoalQuadro.html" %} {% block corpo %} {% load static %}
<div class="row">
    <div class="col s12 m12 l12">

        <!-- <div class="row">
            <div class="col s12 m12 l12">
                <p></p>
            </div>
        </div>



        <div class="row">
            <div class="col s12 m12 l12">
                <p> </p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l12">
                <p> </p>
            </div>
        </div>
        &nbsp;&nbsp;-->

        <!---  contudo do centro da pagina-->

        <div class="row">


            <div class="col s12 m12 l12">
                <div class=" center">

                    <img class="z-depth-5 responsive-img circle" src=" {% static '/assets/images/poli5.png' %}">
                    <p>
                        <h4 class="white-text"> <strong>Comando Provincial de Luanda</strong> </h4>
                    </p>

                </div>
            </div>

        </div>

    </div>

</div>
{% endblock corpo %}