 {% extends 'pessoal_quadro/menu_pessoal.html' %} {% block corpo%} {% load static %}
<div class="">

    <div class="user bg-default bg-light-rtl">
        &nbsp;&nbsp;
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
                <p>

                </p>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
                <p>

                </p>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="row">
            <div class="col-md-12">
                &nbsp;
                <p>

                </p>
            </div>
        </div>

        <div class="row">
            <div class=" col-md-5">

            </div>


            <div class=" col-md-4">

                <div class="gallery-image">
                    <a class="" rel="group" href="{% url 'pessoal_quadro:area-pessoal-quadro' %}"><img src="{% static '/asset/img/pessoal.jpg' %}" width="190px" class="img-circle "></a>
                </div>
                <div class="center">
                    <h2 class=""><b>PESSOAL E QUADRO</b></h2>
                </div>

            </div>
            <div class=" col-md-3">

            </div>

        </div>


        &nbsp;&nbsp;
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
                <p>

                </p>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
                <p>

                </p>
            </div>
        </div>
        &nbsp;&nbsp;

    </div>

</div>
{% endblock %}