{% extends 'transferencia/menu_transferencia.html' %} {% block corpo%} {% load static %}
<div class="">

    <div class="user bg-default ">
        &nbsp;&nbsp;
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
                <p>

                </p>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
                <p>

                </p>
            </div>
        </div>
        &nbsp;&nbsp;
        <div class="row">
            <div class="col-md-12">
                &nbsp;
                <p>

                </p>
            </div>
        </div>
        <div class="row">
            <div class=" col-md-5">

            </div>


            <div class=" col-md-4">

                <div class="gallery-image">
                    &nbsp;
                    <a class="" rel="group" href="#"><img src="{% static '/asset/img/trasf.png' %}" width="190px" class="img-circle "></a>
                </div>
                <div class="">
                    <div class=" user">
                        <h2 class=" "><b>TRANSFERÊNCIA</b></h2>
                    </div>

                </div>
            </div>
            <div class=" col-md-4">

            </div>

        </div>



        <!--<div class="content controls">
            <div class="row">
                <div class="col-md-12">
                    <div class="">PESSOAL E QUADRO</div>
                </div>
            </div>

        </div>-->
        <div class="row">
            <div class="col-lg-12">

                <p>
                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                </p>

                <p>
                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">

                <p>
                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                </p>

                <p>
                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">

                <p>
                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                </p>

                <p>
                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
                </p>
            </div>
        </div>


    </div>

</div>
{% endblock %}