{% extends 'transferencia/menu_transferencia.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block">
            <div class="header">
                <h2><b> Lista de Agentes Transferidos </b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>
                            <th> #</th>
                            <th>Nome</th>
                            <th>Genero</th>
                            <th>Orgão de Origem</th>
                            <th>Orgão de Destino</th>
                            <th>Data de entrada</th>
                            <th>Data de aprovação</th>
                            <th>Dispacho</th>
                            <th>Patente</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for list in lista %}
                        <tr>
                            <td>
                                <a><img src="/media/{{ list.agente.foto_fardado }}" width=38px class="img-circle ">

                                </a>
                            </td>
                            <td>
                                {{ list.agente.pessoa.nome|capfirst|safe }}
                            </td>
                            <td>{{ list.agente.pessoa.genero}}</td>
                            <td> {{ list.orgao_origem }}</td>
                            <td> {{ list.orgao_destino}}</td>
                            <td> {{ list.data_entrada }}</td>
                            <td> {{ list.data }}</td>
                            <td> {{ list.dispacho }}</td>
                            <td> {{ list.agente.patente }}</td>
                            <td>
                                <a href="#" class="btn btn-primary tip" title="Imprimir a ficha">
                                    <span class="icon-edit"></span> </a>
                                <a onclick="remover_pedido_transferencia({{ list.id }})" class="btn btn-danger tip" title="Remover da lista">
                                    <i class="icon-trash"></i>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}