{% extends 'transferencia/menu_transferencia.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block">
            <div class="header">
                <h2><b>Lista de Agentes Transferidos</b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>
                            <th> #</th>
                            <th>Nº Guia</th>
                            <th>Nome</th>
                            <th>Orgão de Destino</th>
                            <th>Data de Entrada</th>
                            <th>Data de Aprovação</th>
                            <th>Despacho</th>
                            <!--<th>Motivo</th>-->
                            <th>Patente</th>
                            <th> Acção</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for list in lista %}
                        <tr>
                            <td>
                                <a><img src="/media/{{ list.agente.foto_fardado }}" width=38px class="img-circle ">

                                </a>
                            </td>
                            <td>{{ list.numero_guia}}</td>
                            <td>
                                {{ list.agente.pessoa.nome|capfirst|safe }}
                            </td>

                            <td> {{ list.orgao_destino }}</td>
                            <td> {{ list.data_entrada }}</td>
                            <td> {{ list.data_entrada }}</td>
                            <td> {{ list.dispacho }}</td>
                            <!-- <td> {{ list.motivo|striptags|capfirst|truncatechars:20 }}</td>-->
                            <td> {{ list.agente.patente }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-clean dropdown-toggle" data-toggle="dropdown">
                                              Acção <span class="caret"></span>
                                             </button>
                                    <ul class="dropdown-menu lista" role="menu">
                                        <li class="">
                                            <a href="{% url 'transferencia:emitir-guia' list.id %}" class=" btn btn-success tip" title="Imprimir o Guia de Transferencia" target="_blank">
                                                 Emitir o Guia
                                             </a>
                                        </li>
                                        <!--<li>
                                            <a href="{% url 'transferencia:atualizar-pedido' list.id %}" class="btn btn-primary tip" title="Editar os Dado">
                                               Editar Transferência
                                         </a>
                                        </li>-->

                                    </ul>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}