{% extends 'transferencia/menu_transferencia.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block">
            <div class="header">
                <h2><b>Listagem dos Documentos</b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>
                            <th>- # -</th>
                            <th>Numero de ordem</th>
                            <th>Categoria</th>
                            <th>Data de Entrada</th>
                            <th>Descrição</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for doc in listar %}
                        <tr>
                            <td> {{ doc.id }}</td>
                            <td> {{ doc.numero_ordem }}</td>
                            <td> {{ doc.categoria }}</td>
                            <td> {{ doc.data_entrada }}</td>
                            <td> {{ doc.descricao| truncatewords:"10" }}</td>
                            <td>
                                <a href="{% url 'documentacao:visualizar-documentos' doc.id %}" class="btn btn-success tip" title="Visualizar o Documento" target="_blank">
                                    <span class="icon-user"></span>
                                </a>
                                {% if user.email == '5' or user.email == '4' %}
                                <a href="{% url 'transferencia:atualizar-documento' doc.id %}" class="btn btn-primary tip" title="Editar os Dados">
                                    <i class="icon-edit"></i>
                                </a>

                                <a href="{% url 'transferencia:eliminar-documento' doc.id %}" class="btn btn-danger tip" title="Remover da lista">
                                    <i class="icon-trash"></i>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}