{% extends 'formacao/menu_formacao.html' %} {% block corpo %}
<div class="user bg-default bg-light-rtl">
    <div class="row">

        <div class="col-md-3">
        </div>

        <div class="col-md-6">

            <div class="block block-fill ">
                <div class="header">
                    <p></p>
                    <h4><b><span class="icon-group"></span>
                        {% if forma.id  %}
                        Atualizar agente para formação
                    {% else %}
                    Adicionar agente para formação</b>
                        </b>
                        {% endif %}
                    </h4>
                </div>

                <div class="content controls container">
                    {% if messages %}
                    <p>
                        <div class="block">
                            <div class="alert alert-danger">
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="danger {{ message.tags }}" {% endif %}>{{ message }}</li>
                                        {% endfor %}
                                </ul>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </div>
                    </p>
                    {% endif %} {% if forma.id %}
                    <form class="" action="{% url 'formacao:atualizar-selecionado' forma.id %}" method="POST" enctype="multipart/form-data">
                        {% else %}
                        <form class="" action="{% url 'formacao:adicionar-agente-formacao' %}" method="POST" enctype="multipart/form-data">
                            {% endif %} {% csrf_token %} {% autoescape on %}
                            <div class="form-row">

                                <div class="col-md-6">
                                    <b> Nip: </b> {{ form.bi }} {{ form.bi.errors }}
                                    <span class="error" style="display:none"> </span>
                                </div>


                                <div class="col-md-6">
                                    <b>Razão da Posse:</b> {{ form.razao_posse }} {{ form.razao_posse.errors }}
                                    <span class="error" style="display:none"> </span>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="col-md-6"><b>Prespectiva do local:</b> {{ form.pais }} {{ form.pais.errors }} </div>

                                <div class="col-md-6"><b>Curso:</b> {{ form.curso }} {{ form.curso.errors }}
                                    <span class="error" style="display:none"> </span>
                                </div>

                            </div>


                            <div class="form-row">

                                <div class="col-md-6"><b>Instituição:</b> {{ form.instituicao }} {{ form.instituicao.errors }} </div>
                                <!-- <div class="col-md-6"><b>Data:</b>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="icon-calendar"></span></div>
                                        {{ form.data }} {{ form.data.errors }}
                                        <span class="error" style="display:none"> </span>
                                    </div>
                                </div>-->

                            </div>

                            <!--  <div class="form-row">
                                <div class="col-md-6"><b>Despacho:</b> {{ form.dispacho }} {{ form.dispacho.errors }} </div>
                                
                            </div> -->

                            <div class="form-row">

                                <div class="col-md-12">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-primary " type="submit">Salvar</button>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                            </div>

                            {% endautoescape %}
                        </form>
                </div>
            </div>


        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}