<!DOCTYPE html>
<!--
@File   : buscar_conclusao.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-10-16 15:49:57
-->
{% extends 'formacao/menu_formacao.html' %} {% load static %} {% block corpo %}

<main class="mn-inner">
    <div class="search-header">
        <div class="card card-transparent no-m">
            <div class="card-content no-s">
                <div class="z-depth-1 search-tabs">
                    <div class="search-tabs-container">
                        <div class="col s12 m12 l12">
                            <div class="row search-tabs-row search-tabs-header">
                                <div class=" col s12 m12 l12 left">
                                    <a class="waves-effect waves-grey btn-flat search-tabs-button left">
                                        <h5><i class="material-icons">list</i>

                                            <b>Lista para atualizar os dados </b> </a>
                                    </h5>
                                </div>

                            </div>
                            <div class="row search-tabs-row search-tabs-container grey lighten-4">
                                <div class="col s12 m6 l6">

                                </div>
                                <div class="col s12 m6 l6 right-align search-stats">
                                    <span class="m-r-sm"> </span><span class="secondary-stats"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card no-m">
        <div class="card-content invoice-relative-content search-results-container">
            <div class="col s12 m12 l12">
                <div class="search-page-results">
                    <table id="" class="display responsive-table datatable-example black-text">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nome</th>
                                <th>Genero</th>
                                <th>Formação</th>
                                <th>Data da Conclusão</th>
                                <th>Situação</th>
                                <th> Patente</th>
                                <th> Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for list in lista %}
                            <tr>
                                <td>{{ list.id }}</td>
                                <td>
                                    <a><img src="/media/{{ list.agente.foto_fardado }}" width=52px alt="" class="black-textcircle responsive-img avatar">
                                        <span class="black-text">{{ list.agente.pessoa.nome|capfirst|safe }}</span>
                                    </a>
                                </td>
                                <td>{{ list.agente.pessoa.genero }}</td>
                                <td> {{ list.curso|capfirst|safe }}</td>
                                <td> {{ list.data_conclusao }}</td>
                                {% if list.aproveitamento == 'Aprovado' %}
                                <td class="teal-text"> {{ list.aproveitamento }}</td>
                                {% else %}
                                <td class="red-text "> {{ list.aproveitamento }}</td>
                                {% endif %}
                                <td> {{ list.agente.patente }}</td>
                                <td>
                                    <a href="{% url 'formacao:atualizar-conclusao' list.id %}" class=" blue darken-1 btn waves-effect waves-light hoverable tooltipped" data-position="top" data-delay="50" data-tooltip="Editar os Dados da formação">
                                        <i class="material-icons">edit</i> </a>

                                    <a href="{% url 'formacao:visualizar' list.agente.id %}" class="teal darken-1 btn waves-effect waves-light tooltipped" data-position="top" data-delay="50" data-tooltip="Visualizar Informação da formação">
                                        <i class="material-icons">assignment_ind</i>
                                    </a>

                                    <a onclick=remover_conclusao({{ list.id }}) class="red darken-1 btn waves-effect waves-light hoverable tooltipped" data-position="top" data-delay="50" data-tooltip="Remover da lista de conclusão">
                                        <i class="material-icons">delete</i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}