{% extends 'formacao/menu_formacao.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="col-md-12">
        <div class="block">
            <div class="header">
                <h2><b>Agente Selecionados para Formação</b></h2>
            </div>
            <div class="content">

                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nip</th>
                            <th>Nome</th>
                            <th>Pais</th>
                            <th>Instituição</th>
                            <th>Bolsa</th>
                            <th>Formação</th>
                            <th>Patente</th>
                            {% if user.email == '5' or user.email == '4' %}
                            <th> Ação</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>

                        {% for list in lista %}
                        <tr>
                            <td>
                                <a><img src="/media/{{ list.agente.foto_fardado }}" width=38px class="img-circle ">

                                </a>
                            </td>
                            <td>{{ list.agente.nip }}</td>
                            <td>
                                {{ list.agente.pessoa.nome|capfirst|safe|upper }}

                            </td>
                            <td>{{ list.pais }}</td>
                            <td>{{ list.instituicao|striptags|capfirst|truncatechars:35 }}</td>
                            <td> {{ list.razao_posse }}</td>
                            <td> {{ list.curso }}</td>
                            <td> {{ list.agente.patente }}</td>
                            {% if user.email == '5' or user.email == '4' %}
                            <td>
                                <a href="{% url 'formacao:atualizar-selecionado' list.id %}" class="btn btn-primary tip" title="Editar os Dados">
                                    <span class="icon-edit"></span> </a>
                                {% for prese in presenca %} {% if prese.selecionado_id == list.id %} {% else %}
                                <a href="{% url 'formacao:agente_presente' list.agente.id %}" class="btn btn-success tip" title="Confirma a Presença">
                                    <span class="icon-user"></span>
                                </a>
                                {% endif %} {% endfor %}

                                <a onclick="remover_agente_selecionado({{ list.id }})" class="btn btn-danger tip" title="Remover da lista">
                                    <i class="icon-trash"></i>
                                </a>
</td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}