{% extends 'pessoal_quadro/menu_pessoal.html' %}{% block corpo %} {% load static %}
<div class="user bg-default bg-light-rtl">
    <div class="row">
        <div class="col-md-3">
        </div>

        <div class="col-md-6">
            <div class="block block-fill">
                <div class="header">
                    <p></p>
                    <h4><b><span class="icon-book"></span> Cadastrar Referencia Documental</b> </h4>
                </div>

                <div class="content controls container">
                    {% if messages %}
                    <p>
                        <div class="block">
                            <div class="alert alert-danger">
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="danger {{ message.tags }}" {% endif %}>{{ message }}</li>
                                        {% endfor %}
                                </ul>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </div>
                    </p> {% endif %}{% if docs.id %}
                    <form class="" action="{% url 'documentacao:atualizar-documento' docs.id %}" method="POST" enctype="multipart/form-data">
                        {% else %}
                        <form class="" action="{% url 'documentacao:registar' %}" method="POST" enctype="multipart/form-data">
                            {% endif %} {% csrf_token %} {% autoescape on %}
                            <div class="form-row form-group">
                                <div class="col-md-6">
                                    <b>Numero de ordem:</b> {{ form.numero_ordem }} {{ form.numero_ordem.errors }}
                                </div>

                                <div class="col-md-6"><b>Data:</b> {{ form.data_entrada }} {{ form.data_entrada.errors }}</div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6">
                                    <b>Categoria:</b> {{ form.categoria }} {{ form.categoria.errors }}</div>
                                <div class="col-md-6">
                                    <span><b>Ficheiro:</b></span>
                                    <div class="input-group file">
                                        {{ form.arquivo }} {{ form.arquivo.errors }}
                                        <span class="input-group-btn">
                                            <button class="btn btn-primary col-md-12" type="button">Ficheiro</button>
                                         </span>

                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <b>Descrição:</b> {{ form.descricao }} {{ form.descricao.errors }}
                                </div>
                            </div>
                            <div class="form-row">

                                <div class="col-md-12">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-primary " type="submit">Registar</button>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                            </div>

                            {% endautoescape %}
                        </form>
                </div>
            </div>
        </div>

        <div class="col-md-3">

        </div>

    </div>
</div>
{% endblock %}