<!DOCTYPE html>
<!--
@File   : testar.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-11-5 23:50:21
-->
{% extends 'salakiaku.html' %} {% block corpo %}{% load static %}
<div class="user bg-default bg-light-rtl">
    <div class="row">

        <form class="" action="{% url 'documentacao:testar' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                <div class="form-row">
                    <div class="col-md-3">
                        <b>Foto Civil</b>
                        <div class="block block-drop-shadow">
                            <div id="camera_civel" class=""></div>
                            <!--<img src="{% static '/assets/images/poli5.png' %}" width="90px" class=" img-thumbnail" />-->
                            <div class="content list-group">
                                <a class="list-group-item preview_snapshot" id="pre_take_buttons">FOTO</a>
                                <a class="list-group-item cancel_preview" id="post_take_buttons" style="display:none">Novo Foto</a>
                                <a class="list-group-item save_photo" id="salvar_foto" style="display:none">SALVAR </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Foto Civil Resultado</b>
                        <div class="block block-drop-shadow">
                            <div class="content">
                                <div id="fotoCivel"></div>
                                <!-- <img src="{% static '/assets/images/poli5.png' %}" width="90px" class="img-circle img-thumbnail" />-->
                            </div>
                            <div class="content list-group">
                                {{ form.um }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Foto Fardado</b>
                        <div class="block block-drop-shadow">
                            <div id="camera_fardada" class=""></div>
                            <!--<img src="{% static '/assets/images/poli5.png' %}" width="90px" class=" img-thumbnail" />-->
                            <div class="content list-group">
                                <a class="list-group-item chama_camera" id="inicia_camera">FOTO</a>
                                <a class="list-group-item cancela_foto" id="cancelar_novo" style="display:none">Novo Foto</a>
                                <a class="list-group-item salva_fardado" id="salvarFoto" style="display:none">SALVAR </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <b>Foto Fardado Resultado</b>
                        <div class="block block-drop-shadow">
                            <div class="content">
                                <div id="fotoFardado" class=" "></div>
                                <!-- <img src="{% static '/assets/images/poli5.png' %}" width="90px" class="img-circle img-thumbnail" />-->
                            </div>
                            <div class="content list-group">
                                {{ form.dois }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class=" col-md-6">
                        <button type="submit" class="btn btn-primary finish">Enviar</button>
                    </div>
                </div>

            </p>
        </form>
    </div>
</div>

{% endblock %}