<html lang="en">
{% load static %}

<head>
    <title> SALAKIAKU (SIGRH-CPL)</title>
    <meta name="description" content="Comando provincial de Luanda  ">
    <meta name="keywords" content="comando provincial de luanda , sistema integrado de recursos humano,">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="Gunza ismael" content="Steelcoders" />
    <link rel="icon" href="{% static '/asset/img/favicon/poli5.png' %}" sizes="32x32">

    <link href="{% static '/asset/css/stylesheets.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/asset/css/mystyles.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/asset/js/plugins/plupload/jquery.plupload.queue/css/jquery.plupload.queue.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/asset/css/codemirror/theme/midnight.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static '/asset/css/sweetalert2.css' %}" rel="stylesheet">

    <script src="{% static '/asset/js/plugins/jquery/jquery.min.js'%}"></script>
    <script src="{% static '/asset/js/plugins/jquery/jquery-ui.min.js'%}"></script>
    <script src="{% static '/asset/js/plugins/jquery/jquery-migrate.min.js'%}"></script>
    <script src="{% static '/asset/js/plugins/jquery/globalize.js'%}"></script>
    <script src="{% static '/asset/js/plugins/bootstrap/bootstrap.min.js'%}"></script>

    <script src="{% static '/asset/js/plugins.js' %}"></script>
    <script src="{% static '/asset/js/actions.js' %}"></script>

</head>
{% block corpo %} {% endblock %}

</html>