{% extends 'pessoal_quadro/menu_pessoal.html' %} {% block corpo %}
<div class="user bg-default bg-light-rtl">
    <div class="row">

        <div class="col-md-3">
        </div>

        <div class="col-md-6">

            <div class="block block-fill ">
                <div class="header">
                    <p></p>
                    <h4><b><span class="icon-user"></span>Registar colocação do agente</b> </h4>
                </div>

                <div class="content controls container">
                    {% if messages %}
                    <p>
                        <div class="block">
                            <div class="alert alert-danger">
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="danger {{ message.tags }}" {% endif %}>{{ message }}</li>
                                        {% endfor %}
                                </ul>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </div>
                    </p>
                    {% endif %}
                    <form class="col s12" action="{% url 'pessoal_quadro:efectuar-colocacao' %}" method="POST">
                        {% csrf_token %} {% autoescape on %}
                        <div class="form-row">
                            <div class="col-md-6">
                                <b>Nip ou BI Nº:</b> {{ form.bi }} {{ form.bi.errors }}
                                <span class="error" style="display:none"> </span>
                            </div>
                            <div class="col-md-6"><b>Orgão de colocação:</b> {{ form.orgao_colocacao }} {{ form.orgao_colocacao.errors }}
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6">
                                <b>Despacho:</b>{{ form.dispacho }} {{ form.dispacho.errors }}
                            </div>
                            <div class="col-md-6"><b>Data de Colocação:</b>
                                <div class="input-group">
                                    <div class="input-group-addon"><span class="icon-calendar"></span></div>
                                    {{ form.data_colocacao }} {{ form.data_colocacao.errors }}
                                    <span class="error" style="display:none"> </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="col-md-5">
                                </div>
                                <div class="col-md-5">
                                    <button class="btn btn-primary " type="submit">Salvar</button>
                                </div>
                                <div class="col-md-3">
                                </div>
                            </div>
                        </div>

                        {% endautoescape %}
                    </form>
                </div>
            </div>


        </div>
        <div class="col-md-2">

        </div>
    </div>
</div>
{% endblock %}