 {% extends 'pessoal_quadro/menu_pessoal.html' %} {% load static %} {% block corpo %}
<div class="">

    <div class="col-md-3">

        <div class="block block-drop-shadow">
            <div class="user bg-default ">
                <div class="info">

                    <img src="/media/{{ lista.agente.foto_fardado }}" width=90px class="img-circle img-thumbnail" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">

        <div class="block block-drop-shadow">
            <div class="user bg-default ">
                <span class=" text-center">
                 <h5>REPÚBLICA DE ANGOLA<br>MINISTÉRIO DO INTERIOR<br>COMANDO PROVÍNCIAL DE LUANDA <br>DIRECÇÃO PROVÍNCIAL DE RECURSOS HUMANOS</h5>
                </span> &nbsp;
            </div>

        </div>

    </div>

    <div class="col-md-3">

        <div class="block block-drop-shadow">
            <div class="user bg-default ">
                <div class="info">

                    <img src="/media/{{ lista.agente.foto_civil }}" width=90px class="img-circle img-thumbnail" />
                </div>
            </div>

        </div>
    </div>


    <div class="">
        <div class=" ">
            <div class="header">
                <h3><b>Ficha Pessoal do Agente</b></h3>
            </div>
            <div class="block block-drop-shadow">
                <table class="table table-bordered table-striped ">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Nome do Pai</th>
                            <th>Género</th>
                            <th>Nome da Mãe</th>
                            <th>Patente</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ lista.agente.pessoa.nome|safe|upper }} </td>
                            <td> {{ lista.agente.pessoa.nome_pai|safe|upper }}</td>
                            <td> {{ lista.agente.pessoa.genero|safe|upper }}</td>
                            <td> {{ lista.agente.pessoa.nome_mae|safe|upper }}</td>
                            <td>{{ lista.agente.patente|safe|upper }}</td>

                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                            <th>Data de Nascimento</th>
                            <th>Província</th>
                            <th>Município</th>
                            <th>Bi Nº</th>
                            <th>Nº de Agente</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> {{ lista.agente.pessoa.data_nascimento }}</td>
                            <td> {{ lista.agente.pessoa.provincia|safe|upper }}</td>
                            <td> {{ lista.agente.pessoa.municipio|safe|upper }} </td>
                            <td> {{ lista.agente.pessoa.bi }}</td>
                            <td> {{ lista.agente.numero_agente }}</td>

                        </tr>

                        <thead>
                            <tr>


                                <th>Residência</th>
                                <th> Telefone</th>
                                <th>Estado Cívil</th>
                                <th>E-mail</th>
                                <th>Nip</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>

                                <td> {{ lista.agente.pessoa.residencia|safe|upper }}</td>
                                <td> {{ lista.agente.pessoa.telefone }}</td>
                                <td> {{ lista.agente.pessoa.estado_civil|safe|upper }}</td>
                                <td> {{ lista.agente.pessoa.email|safe|upper }}</td>
                                <td>{{ lista.agente.nip }}</td>
                            </tr>
                        </tbody>
                        <thead>
                            <tr>
                                <th> Nº de Contribuite </th>
                                <th>Nível Acádemico</th>
                                <th>Curso</th>
                                <th>Área de Formação</th>
                                <th>Orgão de Colocação</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> {{ lista.agente.numero_contribuite }}</td>
                                <td> {{ lista.agente.nivel_academico|safe|upper }}</td>
                                <td> {{ lista.agente.curso|safe|upper }}</td>
                                <td>{{ lista.agente.area_formacao|safe|upper }}</td>
                                <td> {{ lista.orgao_colocacao|safe|upper }}</td>
                            </tr>
                        </tbody>
                    </tbody>
                </table>

            </div>

            <div class="block block-drop-shadow  right-sidebar">
                <div class="header">
                    <h2><b><a href="{% url 'pessoal_quadro:ficha-pessoal' lista.agente.pessoa.id %}" class=" btn btn-primary tip" title="Imprimir a Ficha" target="_blank">
                            <span class="icon-print col-md-12 "></span>
                        </a></b></h2>
                </div>


            </div>
        </div>
    </div>


</div>
{% endblock %}