<!--
@File   : listar_nomiados.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-8-29 19:28:26
-->
{% extends 'pessoal_quadro/menu_pessoal.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block ">
            <div class="header">
                <!--block-fill-white-->
                <h2><b> Agentes cadastrados no sistema</b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Genero</th>
                            <!--<th>Data de ingresso</th>-->
                            <th>Orgão de Colocação</th>
                            <th>Nip</th>
                            <th> Patente</th>
                            <th> Acção</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for list in lista %}
                        <tr>
                            {% autoescape on %}
                            <td>
                                <a><img src="/media/{{ list.agente.foto_fardado }}" width=38px class="img-circle ">

                                </a>
                            </td>
                            <td>{{ list.agente.pessoa.nome|capfirst|safe|upper }}</td>
                            <td>{{ list.agente.pessoa.genero|upper }}</td>
                            <!--<td>{{ list.agente.data_igresso }}</td>-->
                            <td>{{ list.orgao_colocacao|striptags|capfirst|upper }} </td>
                            <td> {{ list.agente.nip }}</td>
                            <td>{{ list.agente.patente|upper }}</td>
                            {% endautoescape %}
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-clean dropdown-toggle" data-toggle="dropdown">
                                            Acção <span class="caret"></span>
                                            </button>
                                    <ul class="dropdown-menu lista" role="menu">
                                        <li class="">
                                            <a href="{% url 'pessoal_quadro:informacao-pessoal' list.id %}" class="btn btn-success tip" title="Visualizar informação">
                                              Ver Informação
                                            </a>
                                        </li>
                                        {% if user.email == '5' or user.email == '4' %}
                                        <li>
                                            <a href="{% url 'pessoal_quadro:editar-cadastro' list.id %}" class="btn btn-primary tip" title="Editar os Dados">
                                                    Editar
                                            </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}