<!--
@File   : listar_nomiados.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-8-29 19:28:26
-->
{% extends 'pessoal_quadro/menu_pessoal.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block ">
            <div class="header">
                <!--block-fill-white-->
                <h2><b> Agentes cadastrados no sistema</b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>
                            <th>Foto</th>
                            <th>Nome</th>
                            <th>Genero</th>
                            <!--<th>Data de ingresso</th>-->
                            <th>Orgão de Colocação</th>
                            <th>Nip</th>
                            <th> Patente</th>
                            <th> Ação</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for list in lista %}
                        <tr>
                            {% autoescape on %}
                            <td>
                                <a><img src="/media/{{ list.agente.foto_fardado }}" width=38px class="img-circle ">

                                </a>
                            </td>
                            <td>{{ list.agente.pessoa.nome|capfirst|safe|upper }}</td>
                            <td>{{ list.agente.pessoa.genero|upper }}</td>
                            <!--<td>{{ list.agente.data_igresso }}</td>-->
                            <td>{{ list.orgao_colocacao|striptags|capfirst|upper }} </td>
                            <td> {{ list.agente.nip }} </td>
                            <td>{{ list.agente.patente|upper }}</td>
                            {% endautoescape %}
                            <td>
                                <a href="{% url 'pessoal_quadro:informacao-pessoal' list.agente.pessoa.id %}" class="btn btn-success tip" title="Visualizar informação">
                                    <span class="icon-user"></span>
                                </a>
                                {% if user.email == 'Gestor' %}
                                <a href="{% url 'pessoal_quadro:editar-cadastro' list.agente.pessoa.id %}" class="btn btn-primary tip" title="Editar os Dados">
                                    <span class="icon-edit"></span>
                                </a>
                                {% endif %}

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}