<!--
@File   : listar_nomiados.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-8-29 19:28:26
-->
{% extends 'pessoal_quadro/menu_pessoal.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block">
            <div class="header">
                <h2><b> Lista de agentes na reforma </b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nº Agente</th>
                            <th>Nome</th>
                            <th>Data Nasc..</th>
                            <th>Género</th>
                            <th>Reforma / Idade</th>
                            <th> Patente</th>
                            <th> Opções</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for key, value in idade.items %} {% for list in lista %} {% if key == list.id %}
                        <tr>
                            <td>
                                <a><img src="/media/{{ list.foto_fardado }}" width=38px class="img-circle ">
                                </a>
                            </td>
                            <td>{{ list.numero_agente }}</td>

                            <td>
                                {{ list.pessoa.nome|capfirst|safe|upper }}
                            </td>
                            <td>{{ list.pessoa.data_nascimento|safe|upper }}</td>
                            <td>{{ list.pessoa.genero|safe|upper }}</td>
                            <td class="">{{ value }}</td>
                            <td>{{ list.patente|safe|upper }}</td>
                            <td>

                                {% if value == "Antecipada" %}
                                <a onclick=eliminar_reforma_anticipada({{ key }}) class="btn btn-danger tip" title="Cancelar a reforma">
                                    <i class="icon-remove-sign"></i>
                                </a>
                                {% endif %}


                            </td>

                        </tr>
                        {% endif %} {% endfor %} {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}