<!--
@File   : listar_nomiados.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-8-29 19:28:26
-->
{% extends 'pessoal_quadro/menu_pessoal.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block ">
            <div class="header">
                <!--block-fill-white-->
                <h2><b> Lista de agentes nomeados</b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Género</th>
                            <th>Data de Nomeação</th>
                            <th>Nomeado Por</th>
                            <th>Cargo</th>
                            <th> Patente</th>
                            <th>Acção</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for des in lista %}
                        <tr>
                            {% autoescape on %}
                            <td>
                                <a><img src="/media/{{ des.agente.foto_fardado }}" width=38px class="img-circle ">

                                </a>
                            </td>
                            <td>
                                {{ des.agente.pessoa.nome|capfirst|safe|upper }}
                            </td>
                            <td>{{ des.agente.pessoa.genero|safe|upper }}</td>
                            <td>{{ des.data }}</td>
                            <td>{{ des.tipo|safe|upper }}</td>
                            <td>{{ des.cargo|striptags|capfirst|safe|upper}}</td>
                            <td>{{ des.agente.patente|safe|upper }}</td>
                            {% endautoescape %}
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-clean dropdown-toggle" data-toggle="dropdown">
                                     Acção <span class="caret"></span>
                                     </button>
                                    <ul class="dropdown-menu lista" role="menu">
                                        <li class="">
                                            <a href="{% url 'pessoal_quadro:editar-dados-nomiacao' des.id %}" class="btn btn-primary tip" title="Editar os Dados">
                                              Editar     
                                             </a>
                                        </li>
                                        <li>{% if user.email == 'Gestor' %}
                                            <a onclick=eliminar_nomiacao({{ des.id }}) class="btn btn-danger tip" title="Remover do Cargo">
                                             Eliminar
                                             </a> {% endif %}
                                        </li>

                                    </ul>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}