<!--
@File   : listar_nomiados.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-8-29 19:28:26
-->
{% extends 'pessoal_quadro/menu_pessoal.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block">
            <div class="header">
                <h2><b> Listar tempo de efectividade</b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nome</th>
                            <th>Tempo no cargo</th>
                            <th>Tempo na patente</th>
                            <th>Tempo na polícia</th>
                            <th>Patente</th>

                        </tr>
                    </thead>
                    <tbody>

                        {% for key, value in policia.items %} {% for des in lista %} {% if key == des.id %}
                        <tr>
                            <td>
                                {% autoescape on %}
                                <a><img src="/media/{{ des.foto_fardado }}" width=34px class="img-circle ">

                                </a>
                            </td>
                            <td>
                                {{ des.pessoa.nome|capfirst|safe|upper }}
                            </td>

                            {% for keys, values in cargo.items %} {% if keys == des.id %}

                            <td>{{ values }}</td>
                            {% else %}
                            <td> Sem Cargo</td>
                            {% endif %} {% endfor %}
                            <td>#####</td>
                            <td>{{ value|safe|upper }}</td>
                            <td>{{ des.patente|safe|upper }}</td>
                            {% endautoescape %}

                        </tr>
                        {% endif %} {% endfor %} {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}