<!--
@File   : listar_nomiados.html
@Author : Gunza Ismael ({__email})
@Link   : 
@Date   : 2018-8-29 19:28:26
-->
{% extends 'pessoal_quadro/menu_pessoal.html' %} {% load static %} {% block corpo %}
<div class="">
    <div class="">
        <div class="block">
            <div class="header">
                <h2><b> Lista de baixas </b></h2>
            </div>
            <div class="content">
                <table id="example" class="table table-bordered table-striped  datatable-example">
                    <thead>
                        <tr>
                            <th>-#-</th>
                            <th>Nome</th>
                            <th>Motivo</th>
                            <th>Invalidez</th>
                            <th>Data de Oucorrência</th>
                            <th>Data de Entrada</th>
                            <th> Patente</th>
                            <th> Acção</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for bax in baixa %}
                        <tr>
                            <td>
                                <a><img src="/media/{{ bax.agente.foto_fardado }}" width=38px class="img-circle ">

                                </a>
                            </td>
                            <td>
                                {{ bax.agente.pessoa.nome|capfirst|safe|safe|upper }}
                            </td>
                            <td>{{ bax.motivo_baixa|striptags|capfirst|safe|upper }}</td>
                            <td>{{ bax.tipo_invalidez|striptags|capfirst|safe|upper }}</td>
                            <!--<td>{{ bax.descricao|striptags|capfirst|truncatechars:20 }}</td>-->
                            <td>{{ bax.data_oucorrencia }}</td>
                            <td>{{ bax.data_entrada}}</td>
                            <td>{{ bax.agente.patente|safe|upper }}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-clean dropdown-toggle" data-toggle="dropdown">
                                    Acção <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu lista" role="menu">
                                        <li class="">
                                            <a href="{% url 'pessoal_quadro:editar-baixas' bax.id %}" class="btn btn-primary tip" title="Editar os Dados">
                                               Editar
                                             </a>
                                        </li>
                                        {% if user.email == '5' or user.email == '4' %}
                                        <li>
                                            <a onclick=eliminar_baixas({{ bax.id }}) class="btn btn-danger tip" title="Remover da lista">
                                             Eliminar
                                            </a>
                                        </li>
                                        {% endif %}

                                    </ul>
                                </div>

                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>

    </div>
</div>
{% endblock %}