{% extends 'base_salakiaku.html' %}{% block menu %}{% load static %}

<div class="container ">
    <div class="row">
        <div class="col-md-12">

            <nav class="navbar brb" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-reorder"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'utilizador:areas-servico' %}"><img src="{% static '/asset/img/poli5.png' %}" width="35px" class="img-circle" /></a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="{% url 'pessoal_quadro:area-pessoal-quadro' %}">
                                <span class="icon-home"></span> SALAKIAKU
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-group"></span> Novo Processo</a>
                            <ul class="dropdown-menu">
                                {% if user.email == 'Gestor' %}

                                <li><a href="{% url 'pessoal_quadro:cadastrar' %}">Novo Agente</a></li>

                                <li><a href="{% url 'pessoal_quadro:efectuar-colocacao' %}">Registar Colocação do Agente</a></li>
                                {% endif %}
                                <li><a href="{% url 'pessoal_quadro:listar-todos' %}">Listar Agentes Registados</a></li>
                                <!-- <li><a onclick="consultar_dados_atualizar()">Atualizar Dados do Agente</a></li>
                                <li><a href="#" >Atualizar as Fotos</a></li>-->
                                <li><a href="{% url 'pessoal_quadro:consultar-dados' %}"> Consultar Dados do agente</a></li>

                            </ul>
                        </li>


                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-star"></span> Caderno de Serviço</a>
                            <ul class="dropdown-menu">
                                {% if user.email == 'Gestor' %}
                                <li><a href="{% url 'pessoal_quadro:registar-baixa' %}"> Registar Baixa</a> </li>
                                <li><a href="{% url 'pessoal_quadro:registar-reforma' %}">Registar Reforma Antecipada</a></li>
                                <li><a href="{% url 'pessoal_quadro:registar-nomiacao' %}">Registar Nomeação de Cargo</a></li>
                                <li><a href="{% url 'pessoal_quadro:atualizar-patente' %}">Actualizar Patente do Agente</a></li>
                                {% endif %}
                                <li><a href="{% url 'pessoal_quadro:listar-baixas' %}">Listar Baixa</a></li>
                                <li><a href="{% url 'pessoal_quadro:listar-reforma' %}">Listar Agentes na Reforma</a></li>
                                <li><a href="{% url 'pessoal_quadro:listar-nomiacao' %}">Listar Agentes Nomeados</a></li>
                                <li><a href="{% url 'pessoal_quadro:listar-efetividade' %}">Listar Tempo de Efectividade</a></li>


                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-sort-by-attributes"></span>Caderno Disciplinar</a>
                            <ul class="dropdown-menu">
                                {% if user.email == 'Gestor' %}
                                <li><a href="{% url 'pessoal_quadro:Processo-displinar' %}">Registar Processo Disciplinar</a></li>
                                {% endif %}
                                <li><a href="{% url 'pessoal_quadro:listar-disciplina' %}">Listar Processos Disciplinar</a></li>
                                <li><a <a href="#consultar_processo" data-toggle="modal" class=" btn-block btn-clean"> Consultar Processo Disciplinar</a></li>

                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-book"></span> Documentação</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'pessoal_quadro:documento' %}">Registar Referencia Documental</a></li>
                                <li><a href="{% url 'pessoal_quadro:listar-docs' %}">Listar Documentos</a></li>
                                <li><a href="{% url 'pessoal_quadro:consultar-docs' %}">Consultar Documento</a></li>


                            </ul>
                        </li>
                        {% if user.email == 'Gestor' %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-user"></span> Utilizador</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'utilizador:adicionar-utilizador' %}">Novo Utilizador</a></li>
                                <li><a href="{% url 'utilizador:listar' %}">Listar Utilizadores</a></li>

                            </ul>
                        </li>
                        {% endif %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="icon-cogs"></span> ÁREAS DE TRABALHO</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'estatistica:area' %}"> ESTATÍSTICA</a></li>
                                <li><a href="{% url 'transferencia:area-transferencia' %}">TRANSFERÊNCIA</a></li>
                                <li><a href="{% url 'formacao:area-formacao' %}">FORMAÇÃO</a></li>
                                <li><a href="{% url 'pessoal_quadro:area-pessoal-quadro' %}">PESSOAL E QUADRO</a></li>

                            </ul>
                        </li>
                    </ul>


                    <div class="navbar-header navbar-right dropdown">
                        <a class=" dropdown-toggle" data-toggle="dropdown" href="#">

                           {{ user.username }}

                            <img src="/media/{{ fotos.foto_fardado }}" width="35px" class="img-circle " />
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'utilizador:perfil-utilizador' %}">Perfil</a></li>
                        <li><a href="{% url 'utilizador:sair' %}">Sair</a></li>

                        </ul>
                        </a>
                    </div>
                </div>

            </nav>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="block block-drop-shadow">
                {% block corpo %} {% endblock %}
            </div>
        </div>

    </div>
    &nbsp;&nbsp;
    <div class="row">
        <div class="col-lg-12">
            &nbsp;
            <p>

            </p>
        </div>
    </div>


    <div class="modal" id="consultar_processo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Consultar Processo Disciplinar</h4>
                </div>
                <div class="modal-body clearfix">
                    <div class="user bg-default bg-light-rtl">
                        <div class="row">

                            <div class="col-md-12">
                                <div class="block block-fill-white ">
                                    <div class="header">
                                        <p></p>
                                        <h4><b></b> </h4>
                                    </div>

                                    <div class="content controls container">
                                        <form class="" action="{% url 'pessoal_quadro:consultar-processo' %}" method="POST">
                                            {% csrf_token %} {% autoescape on %}
                                            <div class="form-row">
                                                <div class="col-md-4">Numero do processo</div>
                                                <div class="col-md-8"><input type="text" name="busca" class="form-control" /></div>
                                            </div>

                                            <div class="form-row">
                                                <div class="col-md-12">
                                                    <div class="col-md-5">
                                                    </div>
                                                    <div class="col-md-5">
                                                        <button class="btn btn-primary " type="submit">Consultar</button>
                                                    </div>
                                                    <div class="col-md-1">
                                                    </div>
                                                </div>

                                            </div>

                                            {% endautoescape %}
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <!--<button type="button" class="btn btn-default btn-clean" data-dismiss="modal">Close</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>

</div>



{% endblock %}