{% extends 'pessoal_quadro/menu_pessoal.html' %} {% block corpo %}
<div class="user bg-default bg-light-rtl">
    <div class="row">

        <div class="col-md-3">
        </div>

        <div class="col-md-6">

            <div class="block block-fill">
                <div class="header">
                    <p></p>
                    <h4><b><span class="icon-group"></span> Registar Baixa</b> </h4>
                </div>

                <div class="content controls container">
                    {% if messages %}
                    <p>
                        <div class="block">
                            <div class="alert alert-danger">
                                <ul class="messages">
                                    {% for message in messages %}
                                    <li{% if message.tags %} class="danger {{ message.tags }}" {% endif %}>{{ message }}</li>
                                        {% endfor %}
                                </ul>
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                            </div>
                        </div>
                    </p>
                    {% endif %} {% if baixa %}
                    <form class="" action="{% url 'pessoal_quadro:editar-baixas' baixa.id %}" method="POST">
                        {% else %}
                        <form class="" action="{% url 'pessoal_quadro:registar-baixa' %}" method="POST">
                            {% endif %} {% csrf_token %} {% autoescape on %}
                            <div class="form-row">
                                {% if baixa.id %}
                                <div class="col-md-6">
                                    <b>Nip ou BI Nº:</b> {{ form2.bi }} {{ form2.bi.errors }}
                                    <span class="error" style="display:none"> </span>
                                </div>
                                {% else %}
                                <div class="col-md-6">
                                    <b>Nip ou BI Nº:</b> {{ form.bi }} {{ form.bi.errors }}
                                    <span class="error" style="display:none"> </span>
                                </div>
                                {% endif %}
                                <div class="col-md-6"><b>Despacho:</b> {{ form.dispacho }} {{ form.dispacho.errors }} </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6"><b>Motivo:</b> {{ form.motivo_baixa }} {{ form.motivo_baixa.errors }} </div>
                                <div class="col-md-6"><b>Data de oucorrência:</b>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="icon-calendar"></span></div>
                                        {{ form.data_oucorrencia }} {{ form.data_oucorrencia.errors }}
                                        <span class="error" style="display:none"> </span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-6 " id="tipoValidez" style="display:none"><b>Tipo de Invalidez:</b> {{ form.tipo_invalidez }} {{ form.tipo_invalidez.errors }} </div>

                            </div>

                            <div class="form-row">
                                <div class="col-md-12"><b>Descrição:</b> {{ form.descricao }} {{ form.descricao.errors }} </div>
                            </div>

                            <div class="form-row">
                                <div class="col-md-12">
                                    <div class="col-md-5">
                                    </div>
                                    <div class="col-md-5">
                                        <button class="btn btn-primary " type="submit">Salvar</button>
                                    </div>
                                    <div class="col-md-2">
                                    </div>
                                </div>

                            </div>

                            {% endautoescape %}
                        </form>
                </div>
            </div>


        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}